/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignored Local Backups & Database System
_backup/
schema.sql
nul

# Laravel temporary bootstrap files
bootstrap/cache/packages.php
bootstrap/cache/services.php